.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0px;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 0rem;
  color: #442c8f;
  letter-spacing: -0.022em;
  text-transform: capitalize;
  font-family: "Merriweather";
  font-style: normal;
}
.cart > span {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
  text-align: center;
  text-transform: capitalize;
  color: #442c8f;
  margin-top: 5rem;
}
.cart main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 90vw;
}
.cart main > div {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
}
.cartList {  flex-direction: column;}
.cart .span {
  font-weight: 700;
  font-size: 1.8rem !important;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #827a7a !important;
  margin-top: 2rem !important;
}
.cart h1 {
  align-self: flex-start;
  margin: 0px 4rem;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 40px;
  text-transform: capitalize;
}
.cart .emptyRect {
  box-sizing: border-box;
  width: 50vw;
  /* height: 60vh; */
  border: 1px solid #652d90;
  border-radius: 149px 150px 150px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2.4rem;
}
.emptyRect img {
  max-width: 100%;
}

@media (min-width: 4000px) {
  .cart > span {
    font-size: 6.4rem;
    line-height: 6.5rem;
  }
  .cart .span {
    font-size: 3.8rem !important;
    line-height: 4.2rem;
  }
  .cart h1 {
    padding-left: 18rem;
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .cart .emptyRect {
    padding: 4rem;
    gap: 4rem;
  }
  .emptyRect img {
    width: 40%;
  }
}
