.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: linear-gradient(
      rgba(68, 44, 143, 0.5),
      rgba(186, 104, 200, 0.5)
    ),
    url("/img-8.png");

  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
  color: #ffff;
}

.homepage p {
  padding: 0px 7rem;
  font-size: 2.6rem;
  color: #f0f0f0;
  margin: 2.5rem 0px;
  box-shadow: 0 4px 8px 4px rgba(68, 44, 143, 0.1);
}

@media (min-width: 4000px) {
  .homepage h1 {
    font-size: 7.5rem;
    line-height: 3.3;
  }

  .homepage p {
    font-size: 5.6rem;
  }
}
