.likes {
  place-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 2.5rem;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  color: #442c8f;
  letter-spacing: -0.022em;
  text-transform: capitalize;
}
