.mylearning {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 2.5rem;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  color: #442c8f;
  letter-spacing: -0.022em;
  text-transform: capitalize;
}
.mylearning .progressCont{
  display: flex;
  justify-content: center;
}
.mylearning .container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mylearning .container h1 {
  font-weight: 700;
  font-size: 2.7rem;
}
.mylearning .progress {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4rem;
  line-height: 1.7rem;
  letter-spacing: -0.022em;
}

.progress a:link,
.progress a:visited {
  text-decoration: none;
  color: #442c8f;
  text-transform: capitalize;
  font-size: 1.7rem;
}

.progress a:active,
.progress a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.active {
  font-weight: bold !important;
  text-decoration: underline;
}

.courses {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media (min-width: 4000px) {
  .mylearning {
    min-height: 70vh;
  }
  .mylearning .container{
     align-items: center;
  }
  .mylearning .container h1 {
    font-size: 5.7rem;
  }
  .mylearning .progress {
    line-height: 2.7rem;
  }

  .progress a:link,
  .progress a:visited {
    font-size: 3.7rem;
  }
}
