.btn {
  color: inherit;
  text-transform: lowercase;
  padding: 1rem 1.6rem;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  height: fit-content;
  font-weight: 700;
  letter-spacing: -0.022em;
  font-style: normal;
  line-height: 150%;
}

.overview {
  text-align: center;
  color: #442c8f;
  background: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}
.continue {
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background: #442c8f;
  transition: background-color 0.5s, color 0.5s;
}

.back {
  font-weight: 700;
  line-height: 150%;
  padding: 1rem 1.6rem;
  font-size: 2.4rem;
  background: none;
  width: 287px;
  border: 1px solid currentColor;
}
.learnmore {
  font-family: inherit;
  color: #ffff;
  font-size: 2.4rem;
  background-color: #842c8f;
  width: 287px;
  transition: background-color 0.5s, color 0.5s;
}

.continue:hover,
.learnmore:hover {
  color: #442c8f;
  background: #ffffff;
}

.overview:hover {
  color: #ffffff;
  background: #442c8f;
}

.primary {
  font-weight: 600;
  letter-spacing: -0.0022em;
  font-size: 2.3rem;
  background-color: #442c8f;
  color: #ffffff;
  margin-top: 2rem;
  transition: background-color 0.5s, color 0.5s;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 1rem 2rem;
}

.primary:hover {
  color: #442c8f;
  background: #ffffff;
}
.apply {
  font-weight: 600;
  letter-spacing: -0.0022em;
  font-size: 2.3rem;
  transition: background-color 0.5s, color 0.5s;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 0.8rem 1.6rem;
  background: #acacac;
  border: 1.5px solid #acacac;
  border-radius: 4px;
  color: #ffff;
}

.apply:hover {
  background: #ffff;
  color: #acacac;
}

@media (min-width: 2000px) {
  .btn {
    font-size: 3.8rem;
    border-radius: 22px;
  }
}
@media (min-width: 4000px) {
  .btn {
    font-size: 5.8rem;
    border-radius: 42px;
    width: 70%;
    padding: 2rem 5rem;
  }
  .overview:hover {
    color: #442c8f;
    background: #ffffff;
  }
}

/*.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
} */
