.container {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 1rem;
  padding: 2rem;
  height: 224px;
  background: linear-gradient(
    85.66deg,
    #ba68c8 -11.78%,
    #f2b7fc 88.15%,
    #f3afff 96%,
    #ffffff 106.61%
  );
  border-radius: 12px;
  letter-spacing: -0.022em;
  margin: 5rem 0px;
}
.container .withIcon {
  display: flex;
  gap: 1rem;
}
.container .content {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 0.8rem;
  width: 90%;
}
.container .content p {
  color: #ffffff;
  font-size: 1.3rem;
}
.container .content h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
}
.container .imgContainer {
  box-sizing: border-box;
  padding-left: 2.5rem;
  width: 385px;
  height: 235px;
  border: 1px solid #652d90;
  margin-top: 1.5rem;
}
.container .imgContainer img {
  margin-top: -2rem;
}
.container img {
  width: 354px;
  height: 237px;
  border-radius: 12px;
}

.container .content progress {
  margin: 2rem 0px;
}

.container .buttons {
  display: flex;
  gap: 2rem;
  margin: 7rem;
}

@media (min-width: 4000px) {
  .container {
    height: 424px;
    width: 95%;
  }
  .container .content {
    margin: 8rem;
    margin-left: 12rem;
  }
  .container .content p {
    font-size: 3.3rem;
  }
  .container .content h1 {
    font-size: 5rem;
  }
  .container .imgContainer {
    width: 485px;
    height: 435px;
  }
  .container .imgContainer img {
    margin-top: -2rem;
  }
  .container img {
    width: 554px;
    height: 437px;
    
  }
  .container .icon{
    width: 100px;
    height: 100px;
  }
}
