.cardContainer {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  gap: 2rem;
  margin: 6rem 0px;
  width: 707px;
  height: 191px;
  border: 1px solid #442c8f;
  border-radius: 12px;
  font-family: "Merriweather";
  font-style: normal;
  letter-spacing: -0.022em;
}

.cardContainer img {
  margin-left: -3rem;
  margin-bottom: -2rem;
  margin-top: 2rem;
  max-width: 100%;
}

.cardContainer .contentDesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  gap: 1rem;
}

.cardContainer .icon {
  cursor: pointer;
}
.cardContainer .contentDesc p,
.cardContainer .price {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  color: #442c8f;
}
.cardContainer .nameIcon {
  display: flex;
  justify-content: space-between;
}
.contentDesc .nameIcon p {
  cursor: pointer;
}
.cardContainer .contentDesc .span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: capitalize;
}
@media (min-width: 4000px) {
  .cardContainer {
    width: 1200px;
    height: 420px;
  }
  .cardContainer .contentDesc p,
  .cardContainer .price {
    font-size: 3.8rem;
  }
  .cardContainer .contentDesc .span {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
