.courses {
  place-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  color: #442c8f;
  letter-spacing: -0.022em;
  text-transform: capitalize;
}
.h2 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 134%;
  font-family: "Merriweather";
  font-style: normal;
  letter-spacing: -0.022em;
  text-transform: capitalize;
  align-self: flex-start;
  margin-left: 23rem;
  margin-top: 3rem;
}
.coursesHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  align-self: center;
  margin-right: -7rem;
}
.coursesHeader .rect1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 2rem;
  box-sizing: border-box;
  width: 40%;
  /* height: 515px; */
  border: 1px solid #652d90;
}
.coursesHeader .content h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  color: #442c8f;
  position: absolute;
  z-index: 1;
}
.coursesHeader .content {
  margin-top: 5rem;
}
.coursesHeader .content p {
  margin-top: 8rem !important;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  color: #442c8f;
  width: 75%;
}

.coursesHeader .rect {
  box-sizing: border-box;
  width: 45%;
  height: 470px;
  border: 1px solid #652d90;
  top: 8rem;
  position: relative;
  left: -7rem;
}
.rect img {
  margin-top: -3rem;
  width: 90%;
  max-height:470px ;
  position: relative;
  left: -4rem;
}

.coursesHeader .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

@media (min-width: 4000px) {
  .courses .h2 {
    font-size: 5.2rem;

    margin-left: 58rem;
  }
  .coursesHeader {
    height: 1200px;
  }
  .coursesHeader .rect1 {
    width: 30%;
    height: 880px;
    gap: 3rem;
  }
  .coursesHeader .content p {
    margin-top: 10rem !important;
    font-size: 5rem;
    line-height: 5rem;
    width: 85%;
  }
  .coursesHeader .content h1 {
    font-size: 6.5rem;
  }
  .coursesHeader .rect {
    width: 30%;
    height: 750px;
  }
  .rect img {
    width: 95%;
    max-height:750px ;
    left: -10rem;
  }
}
