.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-radius: 12px;
  height: fit-content;
  padding-bottom: 3rem;
  width: 342px;
  border: #868585 solid 1px;
  color: #442c8f;
}
.card li {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 190%;
  letter-spacing: -0.022em;
  color: #827a7a;
  text-align: left;
  padding: 1rem;
}
.card ul {
  list-style-type: none;
}
.card li::marker {
  content: "\2022";
  font-size: 1.5rem;
  color: #827a7a;
}
.card > svg {
  align-self: flex-start;
  margin: 2rem;
}
.card h1 {
  cursor: pointer;
}

.card img {
  max-width: 100%;
  height: 298px;
  border-radius: 12px 12px 0px 12px;
}
.card .fav {
  z-index: 2000;
  cursor: pointer;
}
.card h3 {
  color: #868585;
}

@media (min-width: 4000px) {
  .card {
    width: 550px;
    gap: 2rem;
    padding-bottom: 5rem;
  }
  .card img {
    width: 100%;
    height: 380px;
  }
  .card .fav {
    width: 100px;
    height: 70px;
  }
  .card h1 {
    font-size: 3.7rem;
  }
  .card h3 {
    font-size: 1.8rem;
  }
  .card li::marker {
    font-size: 2.5rem;
  }
  .card h1 {
  font-size: 6rem;
}
  .card h3 {
  font-size: 3rem;
}
}
