.footer {
  width: 100%;
  height: 397px;
  background-color: #442c8f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  position:static;
  bottom: 0px;
}
.footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
  width: 70%;
  flex-wrap: wrap;
}

.footer .list {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  flex-direction: column;
  font-style: normal;
  list-style: none;
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: -0.022em;
}

.footer .list a:link,
.footer .list a:visited {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.footer .list a:active,
.footer .list a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.footer .list li {
  opacity: 80%;
}

.footer .list li:hover {
  opacity: 100%;
}

.footer .contactUs {
  color: #442c8f;
  padding: 0.8rem 1rem;
  font-family: inherit;
  font-size: 2.4rem;
  border: none;
  border-radius: 12px;
  width: 287px;
  font-style: normal;
  margin: 0px 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.022em;
  background-color: #ffff;
}
.footer .developers {
  display: flex;
  margin-top: 3rem;
  margin-left: -9rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: large;
}
.footer .developers a {
  color: var(--color-light--1);
  text-decoration: none;
}

.footer .developers a:active,
.footer .developers a:hover {
  text-decoration: underline;
  color: #ffff;
}

@media (min-width: 4000px) {
  .footer{
    height: 500px;
  }
  .footer .list {
    font-size: 4rem;
  }

  .footer .list a:link,
  .footer .list a:visited {
    font-size: 4rem;
  }
  .footer .contactUs {
    font-size: 5rem;
    width: 587px;
  }
  .footer .developers {
    font-size: 3rem;
  }
}
