.instructor {
  width: 70%;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  gap: 1rem;
  font-family: "Merriweather";
  font-style: normal;
  letter-spacing: -0.022em;
  text-transform: capitalize;
  color: #442c8f;
}
.instructor > p {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 134%;
}
.instructor .mainInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: 4rem 0px;
  width: 100%;
}
.instructor .mainInfo ul {
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: lowercase;
  padding: 2rem;
  width: 50%;
  list-style: none;
}
.instructor .ul li::marker {
  content: "\2022";
  font-size: 2.5rem;
  margin-right: 1.5rem;
  color: #827a7a;
}

.instructor .mainInfo img {
  height: 140px;
  border-radius: 50%;
}
.instructor .mainInfo div {
  width: 50% !important;
}
.instructor .mainInfo ul {
  color: #442c8f !important;
  font-weight: 400;
  line-height: 174%;
  text-transform: capitalize !important;
}
.instructor .instInfo {
  text-transform: lowercase;
  color: #827a7a;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.instructor .instInfo h2 {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 134%;
}
.instructor .instInfo p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 134%;
  width: 86%;
}

@media (min-width: 4000px) {
  .instructor > p {
    font-size: 4.2rem;
    line-height: 6rem;
  }
  .instructor .mainInfo img {
    height: 300px;
  }
  .instructor .instInfo h2 {
    font-size: 4.7rem;
  }
  .instructor .instInfo p {
    font-size: 3.8rem;
  }
  .instructor .mainInfo li::marker {
    font-size: 2.5rem;
  }
  .instructor .mainInfo h6 {
    font-size: 4rem;
    padding: 1.3rem;
  }
  .instructor .mainInfo ul li {
    padding: 1rem;
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media (max-width: 600px) {
  .instructor {
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .instructor > p {
    font-size: 2rem;
    line-height: 1.5rem;
  }

  .instructor .mainInfo {
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0px;
  }

  .instructor .mainInfo img {
    height: 100px;
  }

  .instructor .mainInfo ul {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .instructor .instInfo {
    gap: 0.5rem;
  }

  .instructor .instInfo h2 {
    font-size: 1.8rem;
  }

  .instructor .instInfo p {
    font-size: 1.2rem;
    width: 100%;
  }
}