.mainRect {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 3rem;
  /* margin: 2rem; */
  border: 1px solid #442c8f;
  padding: 6rem;
  width: 40%;
  color: #442c8f;
}

.mainRect span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 2.5rem;
}

.card {
  display: flex;
  gap: 3rem;
}
.card img {
  max-width: 100%;
}
.cardContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header,
.name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.name span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 12px;
  color: #acacac;
}
.code {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mainRect input {
  width: 70%;
  padding: 1rem;
  background: #ffffff;
  border: 1.5px solid #acacac;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #acacac;
}

.mainRect input:focus {
  outline: transparent;
}

.mainRect input:-webkit-autofill,
.mainRect select:-webkit-autofill {
  -webkit-text-fill-color: #939393;
  -webkit-background-clip: text;
}
.mainRect p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5rem;
  margin-top: -2rem;
  color: #acacac;
}
