.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 5rem;
  align-items: center;
  width: 100%;
  
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  line-height: 1rem;
  letter-spacing: -0.022em;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #442c8f;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.nav a:active,
.nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* CSS Modules feature */
/* .nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
} */
@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-out;
    z-index: 100000;
    border-radius: 12px 0px;
     
  }
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .hide {
    display: none;
  }
  .appNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
   
  }
  .nav a:link,
  .nav a:visited {
    font-size: 1.7rem;
  }
}
@media (min-width: 4000px) {
  .nav ul {
    line-height: 2rem;
  }

  .nav a:link,
  .nav a:visited {
    font-size: 5rem;
  }
  .nav svg {
    height: 100px;
  }
}
