.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 5rem;
  align-items: center;
  width: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  line-height: 1rem;
  letter-spacing: -0.022em;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #442c8f;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.nav a:active,
.nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* CSS Modules feature */
/* .nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
} */

@media (min-width: 4000px) {
  .nav ul {
    line-height: 2rem;
  }

  .nav a:link,
  .nav a:visited {
    font-size: 5rem;
  }
}
