.paragraphToList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-family: "Merriweather";
  font-style: normal;
  align-self: center;
}

.paragraphToList .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
.paragraphToList .ul {
  list-style-type: none;
}

.paragraphToList .ul li {
  padding-left: 1.5rem;
}
.paragraphToList .ul li::marker {
  content: "\2022";
  font-size: 1.5rem;
  color: #827a7a;
}

.paragraphToList .content h1 {
  font-size: 2.3rem;
}
.paragraphToList .content .ul,
.paragraphToList .content p {
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: lowercase;
  color: #827a7a;
}

.paragraphToList .rect {
  width: 35%;
  height: 648px;
  background: #ba68c8;
  border: 1px solid #442c8f;
  border-radius: 150px 150px 0px 150px;
  gap: 1.3rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 4000px) {
  .paragraphToList .content {
    width: 40%;
  }
  .paragraphToList .ul li::marker {
    font-size: 2.5rem;
  }
  .paragraphToList .content h1 {
    font-size: 5.3rem;
  }
  .paragraphToList .content .ul li,
  .paragraphToList .content p {
    font-size: 4rem;
    line-height: 5rem;
  }
  .paragraphToList .rect {
    width: 30%;
    height: 990px;
    gap: 5.5rem;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6.3rem;
  }
}
@media (max-width: 600px) {
  .paragraphToList {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .paragraphToList .content {
    width: 100%;
  }

  .paragraphToList .rect {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 1rem;
  }

  .paragraphToList .content h1 {
    font-size: 1.8rem;
  }

  .paragraphToList .content .ul,
  .paragraphToList .content p {
    font-size: 1.5rem;
  }

  .paragraphToList .rect ul li {
    font-size: 1.4rem;
  }
}