.payment {
  box-sizing: border-box;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* margin: 2rem; */
  padding: 3rem;
  width: 50%;
  color: #442c8f;
}

.payment span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 2.5rem;
}
.payment form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.payment .method {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.payment input[type="radio"] {
  margin-right: 0.5rem;
}

.payment input[type="text"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #acacac;
  border: 1px solid #eeeeee;
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  margin-top: 0.5rem;
}
.payment input:-webkit-autofill {
  -webkit-text-fill-color: #939393;
  -webkit-background-clip: text;
}
.payment input:focus {
  outline: transparent;
}

.payment .exp {
  display: flex;
  gap: 4rem;
}

.payment label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #442c8f;
}

.payment .checkboxLabel {
  display: flex;
  align-items: center;
}

.payment .checkbox {
  margin-right: 1rem;
}

.payment .checkboxText {
  font-size: 2rem !important;
  color: #acacac;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;

  line-height: 2rem;
}
.payment form p {
  font-family: "Inter";
  width: 73%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #acacac;
}
.payment .cardPin {
  font-size: 2.2rem !important;
}
.payment .pin {
  display: flex;
  flex-direction: row !important;
  gap: 2rem;
  height: fit-content;
}
.payment .pin input {
  padding: 2rem 0px !important;
  text-align: center;
  font-size: 4rem !important;
}

.payment .pin input[name="pin"]:focus {
  outline: 2px solid #2fbd6a !important;
  caret-color: #2fbd6a;
}

@media (min-width: 4000px) {
  .payment span {
    font-size: 5.6rem;
    line-height: 5.5rem;
  }
  .payment input[type="text"] {
    border-radius: 22px;
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .payment input[type="radio"] {
    width: 40px;
  }
  .payment label {
    font-size: 5rem;
    line-height: 5.2rem;
  }
  .payment .checkboxText {
    font-size: 5rem !important;
    line-height: 5rem;
  }
  .payment form p {
    font-size: 4.4rem;
    line-height: 4.2rem;
  }
  .payment .cardPin {
    font-size: 5.2rem !important;
  }

  .payment .pin input {
    font-size: 6rem !important;
  }

  .payment .pin input[name="pin"]:focus {
    outline: 5px solid #2fbd6a !important;
  }
}
