.searchContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 24rem;
    justify-content: center;
  }
  
  .searchIcon {
    font-size: 2rem;
    color: #888;
    position: relative;
    left: 4rem;
  }
  
  .searchInput {
    width: 100%;
    background: #eeeeee;
    border: 2px solid #eeeeee;
    border-radius: 12px;
    font-size: 2rem;
    padding: 0.8rem 3.5rem;
    font-family: inherit;
    color: inherit;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.022em;
    flex: 1;
  }
  
  .searchInput::placeholder {
    color: #959595;
  }
  
  .searchInput:focus {
    outline: 2px solid #959595;
  }